/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

.Parallax h2 {
  background-color: #000000;
  display: inline;
  /*font-family: 'Kelly Slab',cursive !important;*/
  font-size: 2.5em !important;
  line-height: 1.4em !important;
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  padding: 15px;
  text-shadow: 9px 9px 0 rgba(0, 0, 0, 1);
}
.Parallax h2 span{
	font-size: 0.8em;
    font-weight: lighter;
	}
.Parallax blockquote {
	/*font-family: 'Kelly Slab',cursive !important;*/
	 font-size: 1.1em!important;
  background: none repeat scroll 0 0 #000000;
  border: medium none !important;
  display: inline-block;
  margin-top: 40px !important;
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  padding: 15px !important;
}	

.Parallax .ParallaxText {
 
  position: relative;
  text-align: center;
  z-index: 250;
}
.Parallax .ParallaxText p {
	/*font-family: 'Kelly Slab',cursive !important;*/	
  background: none repeat scroll 0 0 #000000;
  display: inline;
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  padding: 15px;
  text-align: center !important;
}


#header, #intro, #second,#third,#fourth,#fifth{
	width: 100%;
}

#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
	color: white;
	height: 500px;
	margin: 0 auto;
	 padding: 150px 0 40px;
}

#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	 padding: 150px 0 40px;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	 padding: 150px 0 40px;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	 padding: 150px 0 40px;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	 padding: 150px 0 40px;
}

/*******media query********/
@media (min-width: 768px) and (max-width: 979px) {
	#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 25px !important;
  line-height: 30px !important;
}
	}
	
@media (max-width: 767px) {
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 25px !important;
  line-height: 30px !important;
}
	}
	
@media (max-width: 480px) {
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 25px !important;
  line-height: 30px !important;
}
}

@media (min-width: 768px) and (max-width: 979px) {	
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 30px !important;
  line-height: 35px !important;
}
}

@media (min-width: 1200px) {	
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
}

@media (max-width: 979px) {	
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 35px !important;
  line-height: 40px !important;
}
}
@media (min-width: 980px) {
	
#intro{
	background:url("../images/Intro.jpg") 50% 50% no-repeat fixed!important;
}
#second{
	background: url("../images/second.jpg") 50% 50% no-repeat fixed!important;
}
#third{
	background: url("../images/third.jpg") 50% 50% no-repeat fixed!important;
}
#fourth{
	background: url("../images/fourth.jpg") 50% 50% no-repeat fixed!important;
}
#fifth{
	background: url("../images/fifth.jpg") 50% 50% no-repeat fixed!important;
}
.cb-slideshow li div h3 {
  font-size: 35px !important;
  line-height: 40px !important;
}
}
